<form [formGroup]="registration">
    <div class="reg_tag">Sign In</div>
    <div class="reg_data">
        <span>Name</span><input formControlName="name" placeholder="Enter Name">
        <span>Password</span><input type="password" formControlName="password" placeholder="Enter Password">
        <span>Repeat Password</span><input type="password" formControlName="password2" placeholder="Repeat Password">
        <span>Email</span><input formControlName="email" placeholder="Enter Email">
    </div>
    <button type="submit">Submit</button>
</form>