<form [formGroup]="registration">
    <div class="reg_tag">Registration</div>
    <div class="reg_data">
        Name<input formControlName="name" placeholder="Enter Name">
        Password<input type="password" formControlName="password" placeholder="Enter Password">
        Repeat Password<input type="password" formControlName="password2" placeholder="Repeat Password">
        Email<input formControlName="email" placeholder="Enter Email">
    </div>
    <button type="submit">Submit</button>
</form>