<div class="auth login">
    <div style="width: 50%;">
        <form [formGroup]="login">
            <div class="reg_tagAuth">Log-In</div>
            <div class="reg_dataAuth">
            Name: <input formControlName="name" placeholder="Enter Name">
            Password: <input formControlName="password" placeholder="Enter Password">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <app-registration style="width: 50%"></app-registration>
</div>