<h1>ByteCom</h1>

<div class="welcome_div">
    <p>Welcome to ByteCom,<br> Our New Communication Tool!</p>
</div>

<div class="auth login">
    <div style="width: 50%;">
        <form [formGroup]="login">
            <div class="reg_tagAuth">Log In</div>
            <div class="reg_dataAuth">
                E-mail<input formControlName="email" placeholder="Enter E-mail">
                Password<input formControlName="password" placeholder="Enter Password">
            </div>
            <button type="submit" (click)="Submit()">Submit</button>
        </form>
    </div>

    <app-registration style="width: 50%"></app-registration>
</div>