<div class="outer-div">

    <mat-toolbar>
        <div class="header">
            <span> Profil </span>
            <div class="close-dialog">
                <button (click)="closeDialog()"> X </button>
            </div>
        </div>
    </mat-toolbar>


    <!-- <div>
        <i class="fas fa-user-circle">TEXTTExt</i>
    </div> -->

    <div class="photo"></div>


    <mat-grid-list class="profile-data" cols="2" rowHeight="2:1">
        <div class="profile-data-item">
            <p>Name</p>
            {{data.firstname}}
            {{data.lastname}}
        </div>

        <div class="profile-data-item">
            <p>Studiengang</p>
            {{data.bio}}
        </div>

        <div class="profile-data-item">
            <p>E-Mail</p>
            <div style="display: flex; flex-direction: column;">
                <!-- <div>
                    {{data.firstname}}
                    {{data.lastname}}
                </div> -->
                <div> {{data.mail}}</div>

            </div>
        </div>

        <div class="profile-data-item">
            <p>Contact</p>
            4
        </div>
    </mat-grid-list>