.buttons {
    display: flex;
}

mat-icon {
    vertical-align: middle;
}

.buttons-and-search {
    display: flex;
    flex-direction: row;
}

.buttons-and-search .search-wrapper {
    width: 80%;
    padding: 0 1rem;
}

.buttons1 {
    margin: 0 0.5rem 0 0;
}

.buttons1:nth-of-type(2) {
    margin: 0 0 0 0.5rem;
}

.search {

    background: #FFFFFF;
    font-size: 13px;
    transition: 1s;
    border-radius: 2rem;

    .icon {
        margin: 0;
        color: rgba(0, 0, 0, 0.54);
    }

    input {
        padding-left: 12px;
        height: 2rem;
        // color: rgba(0, 0, 0, 0.54);
        color: black;
        border: none;
        width: 100%;
        border-radius: 2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 0.1rem;
    }
}

.search input:hover {
    background-color: rgba(196, 205, 209, 0.746);
}

.search input:focus {
    outline: none;
    background-color: rgba(196, 205, 209, 0.746);
}

.contacts {
    display: flex;
    border-bottom: 1px solid rgba(196, 205, 209, 0.746);
    height: 3rem;
    letter-spacing: 0.1rem;
    text-align: start;
    padding: 0 2rem;
    align-items: center;
    transition: 0.5s;
}

.contacts:hover {
    // margin-left: 1rem;
    border-left: 2rem solid rgba(72, 80, 83, 0.746);
}

.icon {
    margin-left: auto;
}

.contacts:first-child {
    border-top: 1px solid rgba(196, 205, 209, 0.746);
}

.contacts:nth-of-type(2n) {
    background-color: rgba(196, 205, 209, 0.746);
}
