.header {
    height: 10%;
}

.outer_div {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-weight: 500;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    height: fit-content;
    padding: 1rem 0;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}



.mat-sidenav-container {
    display: flex;
    flex: 1;
    width: 100%;
    // background: transparent;
    height: 500px;

    mat-sidenav {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-width: 90%;
        box-shadow: 0 0 1px rgba(0, 0, 0, .37);
        overflow: hidden;
    }
}