<div class="outer_div">

    <div class="header">
        <mat-toolbar>
            <div class="title">
                ByteCom
            </div>

            <mat-toolbar-row class="date-hallo-pp" *ngFor="let logged of loggedUser">
                {{date | date: 'EEE dd.MM.yyyy'}}
                <div> Hallo {{logged.name}}</div>
                <div>Hier kommt das Profilbild hin</div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <mat-sidenav-container>

        <!-- LEFT SIDENAV -->
        <mat-sidenav opened mode="side">
            <app-chats></app-chats>
        </mat-sidenav>
        <!-- / LEFT SIDENAV -->

        <div class="chat-window">
            <!-- CONTENT -->
            <app-chat-start style="max-width: 100%;" *ngIf="!selectedChat"></app-chat-start>
            <!-- / CONTENT -->
        </div>

    </mat-sidenav-container>

</div>