<div class="outer_div">

    <div class="header">
        <mat-toolbar>
            <div class="title">
                ByteCom
            </div>

            <mat-toolbar-row class="date-hallo-pp" *ngFor="let logged of loggedUser">
                {{date | date: 'EEE dd.MM.yyyy'}}
                <div> Hallo {{logged.name}}</div>
                <div>Hier kommt das Profilbild hin</div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <mat-sidenav-container id="chats-start-view">

        <!-- LEFT SIDENAV -->
        <mat-sidenav opened mode="side">
            <app-chats></app-chats>
        </mat-sidenav>
        <!-- / LEFT SIDENAV -->

        <!-- CONTENT -->
        <div style="width: 100%; min-width: 880px; height: 499px;">
            <app-chat-start style="max-width: 100%;" *ngIf="!selectedChat"></app-chat-start>
            <app-chat-view style="max-width: 100%;" *ngIf="selectedChat"></app-chat-view>
        </div>
        <!-- / CONTENT -->

    </mat-sidenav-container>

</div>